%h1=_"Editing <%= singular_name %>"

= error_messages_for :<%= singular_name %>

- form_for(:<%= singular_name %>, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}

  .buttons
    = submit_tag _("Update")

= link_to _('Show'), object_path
|
= link_to _('Back'), objects_path
